@import "tailwindcss";

/* Load font faces */
@font-face {
  font-family: "EB Garamond";
  src: url("/fonts/EBGaramond-Regular.ttf");
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-regular.ttf");
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-Regular.ttf");
}

@theme {
  /* Colors */
  --color-base03: #002b36;
  --color-base02: #073642;
  --color-base01: #586e75;
  --color-base00: #657b83;
  --color-base0: #839496;
  --color-base1: #93a1a1;
  --color-base2: #eee8d5;
  --color-base3: #fdf6e3;
  --color-yellow: #b58900;
  --color-orange: #cb4b16;
  --color-red: #dc322f;
  --color-magenta: #d33682;
  --color-violet: #6c71c4;
  --color-blue: #268bd2;
  --color-cyan: #2aa198;
  --color-green: #859900;

  /* Fonts */
  --font-serif: "EB Garamond", ui-serif, serif, system-ui;
  --font-sans: "IBM Plex Sans", ui-sans-serif, sans-serif, system-ui;
  --font-mono: "IBM Plex Mono", ui-monospace, monospace, system-ui;
}

@layer components {
  .link {
    @apply text-blue;
    @apply font-semibold;
  }
}
